p {
  text-align: center;
}
.welcome-select {
  display: flex;
  justify-content: center;
}
.start {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.start button {
  width: 200px;
  height: 40px;
  background-color: #ffff66;
  color: #0080ff;
}
.start button:hover {
  cursor: pointer;
}
.question-top {
  background-color: #ffff99;
  height: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.question-button {
  display: flex;
  justify-content: center;
}
.question-button button {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  background-color: #ffff66;
  color: #0080ff;
}
.correct-button {
  display: flex;
  justify-content: center;
}
.correct-button button {
  width: 400px;
  height: 40px;
  margin-top: 10px;
  background-color: #ffff66;
  color: #0080ff;
}
